In [2]:
import pandas as pd

Создание дата - фрейма

In [3]:
new_dict = {'Город': ['Москва', 'Воронеж', 'Липецк', 'Орёл'], 'Количество магазинов': [17, 10, 6, 3], 'Доход': [100000, 50000, 20000, 3000]}

In [4]:
df = pd.DataFrame(new_dict)

Вывод информации по столбцу. Если один параметр - то развернуто.

In [5]:
df['Доход']

0    100000
1     50000
2     20000
3      3000
Name: Доход, dtype: int64

Если два параметра то должен быть список параметров.

In [6]:
df[['Доход', 'Город']]

    Доход    Город
0  100000   Москва
1   50000  Воронеж
2   20000   Липецк
3    3000     Орёл

Срез

In [7]:
df[0:3]

     Город  Количество магазинов   Доход
0   Москва                    17  100000
1  Воронеж                    10   50000
2   Липецк                     6   20000

Срез по строкам с помощью метода

In [8]:
df.iloc[1]

Город                   Воронеж
Количество магазинов         10
Доход                     50000
Name: 1, dtype: object

In [9]:
df.iloc[1:3]

     Город  Количество магазинов  Доход
1  Воронеж                    10  50000
2   Липецк                     6  20000

Срез по столбцам

In [10]:
df.iloc[:3, 1:3]

   Количество магазинов   Доход
0                    17  100000
1                    10   50000
2                     6   20000